.filters-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.btn-filter {
  align-items: center;
  background-color: white;
  border: 2.669px solid #fcc436;
  border-radius: 66.72px;
  display: flex;
  height: 66.72px;
  justify-content: center;
  margin-bottom: 10px;
  width: 66.72px;
}

.btn-filter img {
  flex-shrink: 0;
  height: 31px;
  width: 31px;
}

.filter-label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 67px;
}

.filter-label span {
  color: #797d86;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.recipes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.individual-recipe-container {
  background: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  height: 135px;
  justify-content: start;
  margin-bottom: 15px;
  width: 318px;
}

.right-side-recipe-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 135px;
  justify-content: space-around;
  margin-left: 20px;
}

.right-side-recipe-card img {
  position: relative;
  top: 0;
  width: 20px;
}

.left-side-recipe-card img {
  height: 134px;
  width: 163px;
}

.right-side-recipe-card a {
  color: black;
  text-decoration: none;
}

.right-side-recipe-card h6 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
}

.right-side-recipe-card p {
  font-size: 9px;
  margin: 0;
}

.right-side-recipe-card button {
  background-color: white;
  border: none;
}

.right-side-recipe-card span {
  background: #d9d9d9;
  border-radius: 10px;
  color: #797d86;
  flex-shrink: 0;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  line-height: normal;
  margin-left: 7px;
  margin-right: 7px;
  width: 29px;
}
