.Login {
  background-image: url('src/images/background-image.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: center;
  margin-top: 500px;
  padding: 70px;
  background-color: rgb(223, 220, 220);
  width: 400px;
}

.input-form {
  margin: 10px;
  width: 250px;
  border-radius: 5px;
}

.button-form {
  background-color: #fcc436;
  color: black;
  margin: 10px;
  width: 250px;
  border-radius: 5px;
}

.form-container h2 {
  color: #41197f;
  font-style: italic;
}

img {
  margin: 10px;
  width: 130px;
}
