.header-container {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  height: 52px;
  justify-content: space-around;
  margin-bottom: 31px;
  width: 100%;
}

header img {
  width: 50px;
}

.header-container img {
  width: 50px;
}

.header-container h2 {
  color: #41197f;
  font-style: italic;
}

.button-header {
  background-color: #fcdc36;
  border-style: none;
}

.icon-header {
  background-color: #fcdc36;
  padding: 10px;
  width: 100%;
}

header h1 {
  color: #41197f;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2.1px;
  margin: 10px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}
