html {
  display: flex;
  justify-content: center;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Resizing for mobile view */
  max-width: 412px;
  max-height: 915px;
}

code {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 412px;
  height: 50px;
}
